[Unit]
Description=Promtail log shipper
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail/config.yml
Restart=always

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
