[paths]
provisioning = /etc/grafana/provisioning
logs = /var/log/grafana

[server]
# Protocol and port settings
protocol = http
http_port = 3000

[security]
# Default admin credentials
admin_user = admin
admin_password = admin

[analytics]
reporting_enabled = false
check_for_updates = true
