[Unit]
Description=Loki service
Wants=network-online.target
After=network-online.target

[Service]
User=loki
Group=loki
Type=simple
ExecStart=/usr/local/bin/loki -config.file=/etc/loki/config.yml
Restart=always

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
