global:
  scrape_interval: 5s       # Fast scrape for demo purposes
  evaluation_interval: 5s   # Fast alert evaluation for demo purposes



scrape_configs:
  # Scrape Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Dynamically discover Bastion Host system metrics via AWS EC2 Service Discovery
  - job_name: 'bastion-system-metrics'
    ec2_sd_configs:
      - region: "{{ aws_default_region }}"
        port: 9100
        filters:
          - name: tag:Role
            values: ['Bastion']
          - name: instance-state-name
            values: ['running']
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance
      - source_labels: [__meta_ec2_private_ip]
        target_label: private_ip

  # Dynamically discover Bastion Host Nginx Web App metrics via AWS EC2 Service Discovery
  - job_name: 'bastion-nginx-metrics'
    ec2_sd_configs:
      - region: "{{ aws_default_region }}"
        port: 9113
        filters:
          - name: tag:Role
            values: ['Bastion']
          - name: instance-state-name
            values: ['running']
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance
      - source_labels: [__meta_ec2_private_ip]
        target_label: private_ip
